In [13]:
import face_recognition
import pandas as pd
import numpy as np
import cv2

In [2]:
face_recognition.r.ping()

True

#### Extract Data from Database

In [12]:
name = 'academy:register'
retrive_dict = face_recognition.r.hgetall(name)
retrive_series = pd.Series(retrive_dict)
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x, dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))
retrive_series.index = index
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role', 'facial_features']
retrive_df[['Name', 'Role']] = retrive_df['name_role'].apply(lambda x: x.split('@')).apply(pd.Series)
retrive_df

,name_role,facial_features,Name,Role
0,Barack Obama@teacher,"[0.94846946, -0.5583677, 0.09491567, -1.279613...",Barack Obama,teacher
1,Angelina Jolie@student,"[0.4324317, 1.074975, -0.12851736, -1.833421, ...",Angelina Jolie,student
2,Chris Evans@student,"[0.72002447, -1.4682528, -0.77743137, -1.45999...",Chris Evans,student
3,Scarlett Johansson@student,"[0.1912692, -0.48850536, -1.6902622, 0.4422732...",Scarlett Johansson,student
4,Morgan Freeman@teacher,"[0.48562637, -0.61965686, -0.4072629, 1.068597...",Morgan Freeman,teacher

#### Get Real - Time Prediction

In [ ]:
cap = cv2.VideoCapture(0) 

while True:
  ret, frame = cap.read()
  if ret == False:
    break
  pred_frame = face_recognition.face_prediction(frame, retrive_df, 'facial_features', ['Name', 'Role'], 0.5)
  # cv2.imshow('frame', frame)
  cv2.imshow('prediction', frame)

  if cv2.waitKey(1) == 27:
    break

cv2.destroyAllWindows()
cap.release()